Source: dtk6widget
Section: libdevel
Priority: optional
Maintainer: deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper-compat (= 12),
                pkg-config,
                libudev-dev,
                libqt5x11extras5-dev,
                libxext-dev,
                qt6-tools-dev-tools,
                qt6-tools-dev,
                x11proto-xext-dev,
                libxcb-util0-dev,
                libstartup-notification0-dev,
                libmtdev-dev,
                qt6-base-private-dev,
                libegl1-mesa-dev,
                libudev-dev,
                libfontconfig1-dev,
                libfreetype-dev,
                libglib2.0-dev,
                libxrender-dev,
                libgsettings-qt-dev,
                libqt6svg6-dev,
                libxi-dev,
                libdtkgui-dev,
                libcups2-dev,
                libgtest-dev,
                libdtk6core-dev,
                libdtk6core-bin,
                libdtk6gui-dev,
                cmake,
                doxygen
Standards-Version: 3.9.8

Package: libdtk6widget
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdtkdata,
  libqt6widgets6( >= 6.4.2)
Multi-Arch: same
Description: deepin graphical user interface library
 DtkWidget is deepin graphical user interface for deepin desktop development.
 .
 This package contains the shared libraries.

Package: libdtk6widget-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libdtk6widget( =${binary:Version}),
 libqt5x11extras5-dev, libdtkcore-dev, libqt5svg5-dev
Description: deepin graphical user interface library utilities
 DtkWidget is deepin graphical user interface for deepin desktop development.
 .
 This package contains the utilities which are
 needed for developing deepin applications.

Package: libdtk6widget-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libdtk6widget( =${binary:Version}),
 libqt5x11extras5-dev, libdtkcore-dev, libqt6svg6-dev,
 libdtk6gui-dev, libcups2-dev
Description: deepin graphical user interface library
 DtkWidget is deepin graphical user interface for deepin desktop development.
 .
 This package contains the header files and static libraries which are
 needed for developing deepin applications.

Package: dtk6widget-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libdtk6widget( =${binary:Version}), libdtkdata
Description: dtkwidget-examples is generated by dtkwidget.
 DtkWidget is deepin graphical user interface for deepin desktop development.
 .
 This package contains example application which are
 needed for developing deepin applications.

Package: dtk6widget-doc
Architecture: any
Description: deepin graphical user interface library (Document)
 DtkWidget is deepin graphical user interface for deepin desktop development.
 .
 This package contains example application which are
 needed for developing deepin applications.
